@font-face {
    font-family: "PopBold";
    src: url('poppins.bold.ttf');
}

@font-face {
    font-family: "PopBoldItalic";
    src: url("poppins.bold-italic.ttf");
}

@font-face {
    font-family: "Pop";
    src: url("poppins.regular.ttf");
}
.header{
    color: #000;
    text-align: center;
    font-family: "PopBold";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.plan{
    color: #13B47A;
    font-family: "PopBoldItalic";
    font-size: 64px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.text{
    text-align: center;
}

.bill{
    text-align: center;
}

.body {
    position: relative;
    justify-content: center;
    font-family: "Pop";
    background-color: black;
}

.card {
    margin-left: 32px;
    padding: 16px;
    border-radius: 34px;
    position: relative;
    justify-content: center;
    background-color: #F8F8F8;
    opacity: 95%;
    width: 1239px;
    height: 857px;
    flex-shrink: 0;
}

.mini-cards {
    position: absolute;
    height: 445px;
    width: 274px;
    border-radius: 16px;
    background-color: white;
    /* color: #13B47A; delete later */
}